@media screen and (max-width: 780px) {
   #contatti{
    margin-top: 10%;
    }
} 
#preventivo:hover {
    background-color: #00aa03;
    color: #ffffff;
    border-color: #00aa03;
    font-size: 105%;
}
#annulla:hover {
    background-color: #c70000;
    color: #ffffff;
    border-color: #c70000;
    font-size: 105%;
}
@media screen and (min-width: 1024px) {
    #contatti:hover{
        transform: scale(1.05);
        transition: .5s;
    }
    #contatti{
        transform-origin: 0%;
        transition: .5s;
    }
}
